In [50]:
arr = [1,3,5,7,9,10,11,14,15,17,111,22,34,34,34,543,5,6,3,65,65,76,3,6,7,98,4,67,8,5,7,8,9,5,78,98,6,87,989,5,999,88,77,66,77,88,66,67,76,78,554,54,677,554,89,9,19,float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf'),float('inf')]

In [31]:
def bina(arr,low,high,val):
    
    print(low,high)
    
    if low==high:
        print("Yes")
        if arr[low]==val:
            print("Mil Gaya")
        else:
            print(arr[low],val)
            return -1
    else:
        mid = low + (high-low)//2
        if arr[mid]==val:
            print("Mil Gaya")
        elif val>arr[mid]:
            bina(arr,mid+1,high,val)
        else:
            bina(arr,low,mid,val)

In [32]:
aa=bina(arr,0,len(arr)-1,110)

0 70
36 70
36 53
45 53
50 53
52 53
52 52
Yes
677 110

In [33]:
len(arr)-1

70

In [34]:
aa

In [47]:
def afunc(arr,low,high):
    
    if len (arr)== 0 :
        print("Nikal Laude")
   
    elif len(arr) == 1:
        if arr[0]== float('inf'):
            return 0
        else:
            print("Nikal Laude")

    elif low==high:
        
        if arr[low]== float('inf'):
            return low
        
        else:
            print("Bhag")
            return -1
    
    else:
        
        mid = low + (high-low)//2
        
#         print(mid, arr[mid])
            
        if arr[mid] == float('inf'):
            if arr[mid-1] != float('inf'):
                print(mid)
            
            elif arr[mid-1] == float('inf'):
                afunc(arr,low,mid-1)
        else:
            afunc(arr,mid+1,high)

In [48]:
afunc(arr,0,len(arr)-1)

Nikal Laude

In [49]:
arr=[11]

In [46]:
afunc(arr,0,0)

Laude Laude

In [37]:
-float('inf')<0

True

In [29]:
len(arr)

71

In [41]:
for i in range(len(arr)):
    if arr[i]==float('inf'):
        print(i)
        break

57

In [51]:
arr

[1,
 3,
 5,
 7,
 9,
 10,
 11,
 14,
 15,
 17,
 111,
 22,
 34,
 34,
 34,
 543,
 5,
 6,
 3,
 65,
 65,
 76,
 3,
 6,
 7,
 98,
 4,
 67,
 8,
 5,
 7,
 8,
 9,
 5,
 78,
 98,
 6,
 87,
 989,
 5,
 999,
 88,
 77,
 66,
 77,
 88,
 66,
 67,
 76,
 78,
 554,
 54,
 677,
 554,
 89,
 9,
 19,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf]

In [349]:
arr = [1,3,5,7,9,10,11,14,15,17,111,22,34,34,34,543,5,6,3,65,65,76,3,6,7,98,4,67,8,5,7,8,9,5,78,98,6,87,989,5,999,88,77,66,77,88,66,67,76,78,554,54,677,554,89,9,19]

In [308]:
arr.sort()

In [309]:
print(arr, end = "")

[1, 3, 3, 3, 4, 5, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 9, 9, 9, 10, 11, 14, 15, 17, 19, 22, 34, 34, 34, 54, 65, 65, 66, 66, 67, 67, 76, 76, 77, 77, 78, 78, 87, 88, 88, 89, 98, 98, 111, 543, 554, 554, 677, 989, 999]

In [310]:
vals = []
diff = float('inf')
val =300

In [311]:
def recursive(arr, low, high, curr_i, val):
    
    global vals
    global diff
    
    print(" Diff and Vals are :", diff,vals)
    
    if low < high:

        ii = curr_i
        mid = low + (-low + high)//2
        
        print(arr[ii], arr[mid])
        
#         print(low,mid,high)
        
        if mid == low:
            return 
        
        sum1 = arr[ii] + arr[mid]
        
        if sum1<val:
            recursive(arr, mid+1, high, ii, val)
            
        elif sum1>val:          
            recursive(arr, low, mid, ii, val)
            
        if abs(val-sum1) < diff:
            diff = abs(val-sum1)
            vals = []
            vals.append(arr[ii])
            vals.append(arr[mid])
            
    return

In [312]:
# for loop lagao, aage i+1 ke liye mid value nikalo, phir diff check akro, vals update karo. Itna karne ke baad recursive loop
# chala do, tab tak jab tak low chhota ho high se, yaha se return karke jao for loop me.

In [313]:
print(arr, end = "")

[1, 3, 3, 3, 4, 5, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 9, 9, 9, 10, 11, 14, 15, 17, 19, 22, 34, 34, 34, 54, 65, 65, 66, 66, 67, 67, 76, 76, 77, 77, 78, 78, 87, 88, 88, 89, 98, 98, 111, 543, 554, 554, 677, 989, 999]

In [314]:
for i in range(0,len(arr)):
    print("i is :",i)
    recursive(arr,i+1, len(arr)-1, i, val)

i is : 0
 Diff and Vals are : inf []
1 34
 Diff and Vals are : inf []
1 78
 Diff and Vals are : inf []
1 98
 Diff and Vals are : inf []
1 554
 Diff and Vals are : inf []
1 543
 Diff and Vals are : inf []
1 111
i is : 1
 Diff and Vals are : 201 [1, 98]
3 34
 Diff and Vals are : 201 [1, 98]
3 78
 Diff and Vals are : 201 [1, 98]
3 111
 Diff and Vals are : 201 [1, 98]
3 554
 Diff and Vals are : 201 [1, 98]
3 554
 Diff and Vals are : 201 [1, 98]
3 543
i is : 2
 Diff and Vals are : 186 [3, 111]
3 34
 Diff and Vals are : 186 [3, 111]
3 78
 Diff and Vals are : 186 [3, 111]
3 111
 Diff and Vals are : 186 [3, 111]
3 554
 Diff and Vals are : 186 [3, 111]
3 554
 Diff and Vals are : 186 [3, 111]
3 543
i is : 3
 Diff and Vals are : 186 [3, 111]
3 34
 Diff and Vals are : 186 [3, 111]
3 78
 Diff and Vals are : 186 [3, 111]
3 111
 Diff and Vals are : 186 [3, 111]
3 554
 Diff and Vals are : 186 [3, 111]
3 554
 Diff and Vals are : 186 [3, 111]
3 543
i is : 4
 Diff and Vals are : 186 [3, 111]
4 34
 Diff and Vals are : 186 [3, 111]
4 78
 Diff and Vals are : 186 [3, 111]
4 111
 Diff and Vals are : 186 [3, 111]
4 554
 Diff and Vals are : 186 [3, 111]
4 554
 Diff and Vals are : 186 [3, 111]
4 543
i is : 5
 Diff and Vals are : 185 [4, 111]
5 54
 Diff and Vals are : 185 [4, 111]
5 87
 Diff and Vals are : 185 [4, 111]
5 111
 Diff and Vals are : 185 [4, 111]
5 554
 Diff and Vals are : 185 [4, 111]
5 554
 Diff and Vals are : 185 [4, 111]
5 543
i is : 6
 Diff and Vals are : 184 [5, 111]
5 54
 Diff and Vals are : 184 [5, 111]
5 87
 Diff and Vals are : 184 [5, 111]
5 111
 Diff and Vals are : 184 [5, 111]
5 554
 Diff and Vals are : 184 [5, 111]
5 554
 Diff and Vals are : 184 [5, 111]
5 543
i is : 7
 Diff and Vals are : 184 [5, 111]
5 65
 Diff and Vals are : 184 [5, 111]
5 87
 Diff and Vals are : 184 [5, 111]
5 111
 Diff and Vals are : 184 [5, 111]
5 554
 Diff and Vals are : 184 [5, 111]
5 554
 Diff and Vals are : 184 [5, 111]
5 543
i is : 8
 Diff and Vals are : 184 [5, 111]
5 65
 Diff and Vals are : 184 [5, 111]
5 87
 Diff and Vals are : 184 [5, 111]
5 111
 Diff and Vals are : 184 [5, 111]
5 554
 Diff and Vals are : 184 [5, 111]
5 554
 Diff and Vals are : 184 [5, 111]
5 543
i is : 9
 Diff and Vals are : 184 [5, 111]
5 65
 Diff and Vals are : 184 [5, 111]
5 88
 Diff and Vals are : 184 [5, 111]
5 543
 Diff and Vals are : 184 [5, 111]
5 98
 Diff and Vals are : 184 [5, 111]
5 111
 Diff and Vals are : 184 [5, 111]
i is : 10
 Diff and Vals are : 184 [5, 111]
6 65
 Diff and Vals are : 184 [5, 111]
6 88
 Diff and Vals are : 184 [5, 111]
6 543
 Diff and Vals are : 184 [5, 111]
6 98
 Diff and Vals are : 184 [5, 111]
6 111
 Diff and Vals are : 184 [5, 111]
i is : 11
 Diff and Vals are : 183 [6, 111]
6 66
 Diff and Vals are : 183 [6, 111]
6 88
 Diff and Vals are : 183 [6, 111]
6 543
 Diff and Vals are : 183 [6, 111]
6 98
 Diff and Vals are : 183 [6, 111]
6 111
 Diff and Vals are : 183 [6, 111]
i is : 12
 Diff and Vals are : 183 [6, 111]
6 66
 Diff and Vals are : 183 [6, 111]
6 88
 Diff and Vals are : 183 [6, 111]
6 543
 Diff and Vals are : 183 [6, 111]
6 98
 Diff and Vals are : 183 [6, 111]
6 111
 Diff and Vals are : 183 [6, 111]
i is : 13
 Diff and Vals are : 183 [6, 111]
7 66
 Diff and Vals are : 183 [6, 111]
7 88
 Diff and Vals are : 183 [6, 111]
7 543
 Diff and Vals are : 183 [6, 111]
7 98
 Diff and Vals are : 183 [6, 111]
7 111
i is : 14
 Diff and Vals are : 183 [6, 111]
7 66
 Diff and Vals are : 183 [6, 111]
7 88
 Diff and Vals are : 183 [6, 111]
7 543
 Diff and Vals are : 183 [6, 111]
7 98
 Diff and Vals are : 183 [6, 111]
7 111
i is : 15
 Diff and Vals are : 183 [6, 111]
7 67
 Diff and Vals are : 183 [6, 111]
7 88
 Diff and Vals are : 183 [6, 111]
7 543
 Diff and Vals are : 183 [6, 111]
7 98
 Diff and Vals are : 183 [6, 111]
7 111
i is : 16
 Diff and Vals are : 183 [6, 111]
8 67
 Diff and Vals are : 183 [6, 111]
8 88
 Diff and Vals are : 183 [6, 111]
8 543
 Diff and Vals are : 183 [6, 111]
8 98
 Diff and Vals are : 183 [6, 111]
8 111
i is : 17
 Diff and Vals are : 183 [6, 111]
8 67
 Diff and Vals are : 183 [6, 111]
8 89
 Diff and Vals are : 183 [6, 111]
8 554
 Diff and Vals are : 183 [6, 111]
8 111
 Diff and Vals are : 183 [6, 111]
8 543
i is : 18
 Diff and Vals are : 181 [8, 111]
9 67
 Diff and Vals are : 181 [8, 111]
9 89
 Diff and Vals are : 181 [8, 111]
9 554
 Diff and Vals are : 181 [8, 111]
9 111
 Diff and Vals are : 181 [8, 111]
9 543
i is : 19
 Diff and Vals are : 180 [9, 111]
9 76
 Diff and Vals are : 180 [9, 111]
9 89
 Diff and Vals are : 180 [9, 111]
9 554
 Diff and Vals are : 180 [9, 111]
9 111
 Diff and Vals are : 180 [9, 111]
9 543
i is : 20
 Diff and Vals are : 180 [9, 111]
9 76
 Diff and Vals are : 180 [9, 111]
9 89
 Diff and Vals are : 180 [9, 111]
9 554
 Diff and Vals are : 180 [9, 111]
9 111
 Diff and Vals are : 180 [9, 111]
9 543
i is : 21
 Diff and Vals are : 180 [9, 111]
10 76
 Diff and Vals are : 180 [9, 111]
10 98
 Diff and Vals are : 180 [9, 111]
10 554
 Diff and Vals are : 180 [9, 111]
10 111
 Diff and Vals are : 180 [9, 111]
10 543
i is : 22
 Diff and Vals are : 179 [10, 111]
11 76
 Diff and Vals are : 179 [10, 111]
11 98
 Diff and Vals are : 179 [10, 111]
11 554
 Diff and Vals are : 179 [10, 111]
11 111
 Diff and Vals are : 179 [10, 111]
11 543
i is : 23
 Diff and Vals are : 178 [11, 111]
14 77
 Diff and Vals are : 178 [11, 111]
14 98
 Diff and Vals are : 178 [11, 111]
14 554
 Diff and Vals are : 178 [11, 111]
14 111
 Diff and Vals are : 178 [11, 111]
14 543
i is : 24
 Diff and Vals are : 175 [14, 111]
15 77
 Diff and Vals are : 175 [14, 111]
15 98
 Diff and Vals are : 175 [14, 111]
15 554
 Diff and Vals are : 175 [14, 111]
15 111
 Diff and Vals are : 175 [14, 111]
15 543
i is : 25
 Diff and Vals are : 174 [15, 111]
17 77
 Diff and Vals are : 174 [15, 111]
17 98
 Diff and Vals are : 174 [15, 111]
17 554
 Diff and Vals are : 174 [15, 111]
17 543
 Diff and Vals are : 174 [15, 111]
17 111
i is : 26
 Diff and Vals are : 174 [15, 111]
19 77
 Diff and Vals are : 174 [15, 111]
19 98
 Diff and Vals are : 174 [15, 111]
19 554
 Diff and Vals are : 174 [15, 111]
19 543
 Diff and Vals are : 174 [15, 111]
19 111
i is : 27
 Diff and Vals are : 174 [15, 111]
22 78
 Diff and Vals are : 174 [15, 111]
22 98
 Diff and Vals are : 174 [15, 111]
22 554
 Diff and Vals are : 174 [15, 111]
22 543
 Diff and Vals are : 174 [15, 111]
22 111
i is : 28
 Diff and Vals are : 174 [15, 111]
34 78
 Diff and Vals are : 174 [15, 111]
34 98
 Diff and Vals are : 174 [15, 111]
34 554
 Diff and Vals are : 174 [15, 111]
34 543
 Diff and Vals are : 174 [15, 111]
34 111
i is : 29
 Diff and Vals are : 168 [34, 98]
34 78
 Diff and Vals are : 168 [34, 98]
34 111
 Diff and Vals are : 168 [34, 98]
34 554
 Diff and Vals are : 168 [34, 98]
34 554
 Diff and Vals are : 168 [34, 98]
34 543
i is : 30
 Diff and Vals are : 155 [34, 111]
34 78
 Diff and Vals are : 155 [34, 111]
34 111
 Diff and Vals are : 155 [34, 111]
34 554
 Diff and Vals are : 155 [34, 111]
34 554
 Diff and Vals are : 155 [34, 111]
34 543
i is : 31
 Diff and Vals are : 155 [34, 111]
54 87
 Diff and Vals are : 155 [34, 111]
54 111
 Diff and Vals are : 155 [34, 111]
54 554
 Diff and Vals are : 155 [34, 111]
54 554
 Diff and Vals are : 155 [34, 111]
54 543
i is : 32
 Diff and Vals are : 135 [54, 111]
65 87
 Diff and Vals are : 135 [54, 111]
65 111
 Diff and Vals are : 135 [54, 111]
65 554
 Diff and Vals are : 135 [54, 111]
65 554
 Diff and Vals are : 135 [54, 111]
65 543
i is : 33
 Diff and Vals are : 124 [65, 111]
65 88
 Diff and Vals are : 124 [65, 111]
65 543
 Diff and Vals are : 124 [65, 111]
65 98
 Diff and Vals are : 124 [65, 111]
65 111
 Diff and Vals are : 124 [65, 111]
i is : 34
 Diff and Vals are : 124 [65, 111]
66 88
 Diff and Vals are : 124 [65, 111]
66 543
 Diff and Vals are : 124 [65, 111]
66 98
 Diff and Vals are : 124 [65, 111]
66 111
 Diff and Vals are : 124 [65, 111]
i is : 35
 Diff and Vals are : 123 [66, 111]
66 88
 Diff and Vals are : 123 [66, 111]
66 543
 Diff and Vals are : 123 [66, 111]
66 98
 Diff and Vals are : 123 [66, 111]
66 111
i is : 36
 Diff and Vals are : 123 [66, 111]
67 88
 Diff and Vals are : 123 [66, 111]
67 543
 Diff and Vals are : 123 [66, 111]
67 98
 Diff and Vals are : 123 [66, 111]
67 111
i is : 37
 Diff and Vals are : 123 [66, 111]
67 89
 Diff and Vals are : 123 [66, 111]
67 554
 Diff and Vals are : 123 [66, 111]
67 111
 Diff and Vals are : 123 [66, 111]
67 543
i is : 38
 Diff and Vals are : 122 [67, 111]
76 89
 Diff and Vals are : 122 [67, 111]
76 554
 Diff and Vals are : 122 [67, 111]
76 111
 Diff and Vals are : 122 [67, 111]
76 543
i is : 39
 Diff and Vals are : 113 [76, 111]
76 98
 Diff and Vals are : 113 [76, 111]
76 554
 Diff and Vals are : 113 [76, 111]
76 111
 Diff and Vals are : 113 [76, 111]
76 543
i is : 40
 Diff and Vals are : 113 [76, 111]
77 98
 Diff and Vals are : 113 [76, 111]
77 554
 Diff and Vals are : 113 [76, 111]
77 111
 Diff and Vals are : 113 [76, 111]
77 543
i is : 41
 Diff and Vals are : 112 [77, 111]
77 98
 Diff and Vals are : 112 [77, 111]
77 554
 Diff and Vals are : 112 [77, 111]
77 543
 Diff and Vals are : 112 [77, 111]
77 111
i is : 42
 Diff and Vals are : 112 [77, 111]
78 98
 Diff and Vals are : 112 [77, 111]
78 554
 Diff and Vals are : 112 [77, 111]
78 543
 Diff and Vals are : 112 [77, 111]
78 111
i is : 43
 Diff and Vals are : 112 [77, 111]
78 111
 Diff and Vals are : 112 [77, 111]
78 554
 Diff and Vals are : 112 [77, 111]
78 554
 Diff and Vals are : 112 [77, 111]
78 543
i is : 44
 Diff and Vals are : 111 [78, 111]
87 111
 Diff and Vals are : 111 [78, 111]
87 554
 Diff and Vals are : 111 [78, 111]
87 554
 Diff and Vals are : 111 [78, 111]
87 543
i is : 45
 Diff and Vals are : 102 [87, 111]
88 543
 Diff and Vals are : 102 [87, 111]
88 98
 Diff and Vals are : 102 [87, 111]
88 111
 Diff and Vals are : 102 [87, 111]
i is : 46
 Diff and Vals are : 101 [88, 111]
88 543
 Diff and Vals are : 101 [88, 111]
88 98
 Diff and Vals are : 101 [88, 111]
88 111
i is : 47
 Diff and Vals are : 101 [88, 111]
89 554
 Diff and Vals are : 101 [88, 111]
89 111
 Diff and Vals are : 101 [88, 111]
89 543
i is : 48
 Diff and Vals are : 100 [89, 111]
98 554
 Diff and Vals are : 100 [89, 111]
98 111
 Diff and Vals are : 100 [89, 111]
98 543
i is : 49
 Diff and Vals are : 91 [98, 111]
98 554
 Diff and Vals are : 91 [98, 111]
98 543
 Diff and Vals are : 91 [98, 111]
98 111
i is : 50
 Diff and Vals are : 91 [98, 111]
111 554
 Diff and Vals are : 91 [98, 111]
111 554
 Diff and Vals are : 91 [98, 111]
111 543
i is : 51
 Diff and Vals are : 91 [98, 111]
543 677
 Diff and Vals are : 91 [98, 111]
543 554
 Diff and Vals are : 91 [98, 111]
543 554
i is : 52
 Diff and Vals are : 91 [98, 111]
554 677
 Diff and Vals are : 91 [98, 111]
554 554
i is : 53
 Diff and Vals are : 91 [98, 111]
554 989
 Diff and Vals are : 91 [98, 111]
554 677
i is : 54
 Diff and Vals are : 91 [98, 111]
677 989
i is : 55
 Diff and Vals are : 91 [98, 111]
i is : 56
 Diff and Vals are : 91 [98, 111]

In [128]:
len(arr)

57

In [315]:
vals

[98, 111]

In [316]:
val

300

In [131]:
diff

46

In [ ]:
arr[mid]

In [ ]:
arr[0]

In [147]:
def two_pointer(arr, p1, p2, val) :
    
    global diff
    
    if p1<p2:
        
        print(arr[p1], arr[p2])
        
        sum1 = arr[p1]+arr[p2]
        
        if abs(val-sum1)< diff:
            diff = abs(val-sum1)
            
        if sum1 > val:
            
            p2 -= 1
            two_pointer(arr,p1,p2,val)

        elif sum1<val:
            
            p1 +=1
            two_pointer(arr,p1,p2,val)

In [148]:
diff =0

In [161]:
two_pointer(arr,0,len(arr)-1,148)

1 999
1 989
1 677
1 554
1 554
1 543
1 111
3 111
3 111
3 111
4 111
5 111
5 111
5 111
5 111
5 111
6 111
6 111
6 111
7 111
7 111
7 111
8 111
8 111
9 111
9 111
9 111
10 111
11 111
14 111
15 111
17 111
19 111
22 111
34 111
34 111
34 111
54 111
54 98
54 98
54 89
65 89
65 88
65 88
65 87
65 78
65 78
66 78
66 78
67 78
67 78
76 78
76 78
76 77
76 77
76 76

In [162]:
diff

0

In [155]:
print(arr, end = "")

[1, 3, 3, 3, 4, 5, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 9, 9, 9, 10, 11, 14, 15, 17, 19, 22, 34, 34, 34, 54, 65, 65, 66, 66, 67, 67, 76, 76, 77, 77, 78, 78, 87, 88, 88, 89, 98, 98, 111, 543, 554, 554, 677, 989, 999]

In [203]:
arr= [None]*3

In [204]:
def bits(arr, i):
    
    if None not in arr:
        print(arr)
        
    arr[i] = 1
    bits(arr,i+1)

    arr[i] = 0
    bits(arr,i+1)

In [205]:
bits(arr,0)

In [208]:
def Bit_Generation(A,n):
    # global B
    if n==len(A):
        print(A) 
    else:
        # print(n+1)
        A[n]=1 
        # B.append(A)
        # count += 1
        # print(A)
        Bit_Generation(A,n+1)
        A[n]=0
        # B.append(A)
        # count +=1
        # print(A)
        Bit_Generation(A,n+1)
    
n1=4


A= [None]*n1
Bit_Generation(A,0)

[1, 1, 1, 1]
[1, 1, 1, 0]
[1, 1, 0, 1]
[1, 1, 0, 0]
[1, 0, 1, 1]
[1, 0, 1, 0]
[1, 0, 0, 1]
[1, 0, 0, 0]
[0, 1, 1, 1]
[0, 1, 1, 0]
[0, 1, 0, 1]
[0, 1, 0, 0]
[0, 0, 1, 1]
[0, 0, 1, 0]
[0, 0, 0, 1]
[0, 0, 0, 0]

In [226]:
arr= [1,2,3]

In [229]:
def subs(arr):
    
    global powersets
    powersets = [[]]
   
    for i in arr:
        ss = powersets.copy()
        kk = powersets.copy()
        for j in ss:
            j.append(i)
            print(j)
        
        powersets = [kk,ss]

In [230]:
subs(arr)

[1]
[[1], 2]
[[1], 2]
[[[1], 2], [[1], 2], 3]
[[[1], 2], [[1], 2], 3]

In [222]:
powersets

[[], [], []]

In [249]:
arr

[1, 2, 3]

In [267]:
def subs(arr):
    
    global powersets
    powersets = []
   
    for i in arr:
        ss = powersets.copy()
        kk = ss.copy()
        
        if len(ss) != 0:
            for j in ss:
                j.append(i)
#                 print(j)
        else:
            ss=[i]
            print(ss)
            
        supersets = ss.copy()
        
        if len(kk)!= 0:
            for sets in kk:
                supersets.append(sets)
        else:
            supersets.append([])
            
        print(powersets)

In [268]:
subs(arr)

[1]
[]
[2]
[]
[3]
[]

In [269]:
powersets

[]

In [299]:
def subs(arr):

    global superset
    superset = []
    copy = superset.copy()

    if len(superset)==0:
        superset.append(arr[0])
        superset = [copy,superset]

        print(superset)
        used_ind =0

        
    while len(superset)<=8 and used_ind<=2:

        copy = superset.copy()
        print(len(superset), copy,used_ind)

        for i in superset:
            print(i)
            
            i.append(arr[used_ind])
            used_ind += 1
            
            
            
            for k in copy:
                superset.append(k)

In [300]:
subs(arr)

[[], [1]]
2 [[], [1]] 0
[]
[1]
[1]
[1, 2]

IndexError: list index out of range

In [301]:
len(superset)

8

In [302]:
superset

[[1, 3], [1, 2], [1, 3], [1, 2], [1, 3], [1, 2], [1, 3], [1, 2]]

In [303]:
def backtracking(arr,index,subsets):
    print(subsets)
    for i in range(index, len(arr)):
        subsets.append(arr[i])
        
        backtracking(arr, index +1, subsets)
        
        subsets.pop(-1)

In [304]:
def func(arr):
    index = 0
    subsets = []
    backtracking(arr,index,subsets)

In [305]:
func(arr)

[]
[1]
[1, 2]
[1, 2, 3]
[1, 3]
[1, 3, 3]
[2]
[2, 2]
[2, 2, 3]
[2, 3]
[2, 3, 3]
[3]
[3, 2]
[3, 2, 3]
[3, 3]
[3, 3, 3]

In [318]:
string = "aabbdd"
dict= {}

In [319]:
for i in string:
    if i not in dict:
        dict[i] = 1
    else:
        dict[i] += 1

In [320]:
dict

{'a': 2, 'b': 2, 'd': 2}

In [322]:
class Node:
 
    # Constructor to create a new node
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None
 
# Compute the "maxDepth" of a tree -- the number of nodes
# along the longest path from the root node down to the
# farthest leaf node
def maxDepth(node):
    if node is None:
        return 0 ;
 
    else :
 
        # Compute the depth of each subtree
        lDepth = maxDepth(node.left)
        rDepth = maxDepth(node.right)
 
        return max(1+lDepth,1+rDepth)
 
 
# Driver program to test above function
root = Node(1)
root.left = Node(2)
root.right = Node(3)
root.left.left = Node(4)
root.left.right = Node(5)

In [323]:
maxDepth(root)

3

In [347]:
arr= arr[::-1]

In [333]:
# arr

In [328]:
def reverse(arr):
    for i in range(0,len(arr)//2):
        arr[i],arr[len(arr)-1-i]= arr[len(arr)-1-i],arr[i]

In [335]:
reverse(arr)

In [27]:
arr = [1,3,5,7,9,10,11,14,15,17,111,22,34,34,34,543,5,6,3,65,65,76,3,6,7,98,4,67,8,5,7,8,9,5,78,98,6,87,989,5,999,88,77,66,77,88,66,67,76,78,554,54,677,554,89,9,19]

In [28]:
count= 0
def reverse(arr):
    global count
    if count<len(arr):
        last_element = arr[-1]
        arr.pop()
        arr.insert(count,last_element)
#         print(len(arr))
        count = count + 1
        print(count)
#         print(len(arr)-count-1)
        reverse(arr)

In [29]:
reverse(arr)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57

In [30]:
count

57

In [31]:
len(arr)

57

In [32]:
print(arr, end= "")

[19, 9, 89, 554, 677, 54, 554, 78, 76, 67, 66, 88, 77, 66, 77, 88, 999, 5, 989, 87, 6, 98, 78, 5, 9, 8, 7, 5, 8, 67, 4, 98, 7, 6, 3, 76, 65, 65, 3, 6, 5, 543, 34, 34, 34, 22, 111, 17, 15, 14, 11, 10, 9, 7, 5, 3, 1]

In [401]:
print(arr, end= "")

[9, 19, 1, 3, 5, 7, 9, 10, 11, 14, 15, 17, 111, 22, 34, 34, 34, 543, 5, 6, 3, 65, 65, 76, 3, 6, 7, 98, 4, 67, 8, 5, 7, 8, 9, 5, 78, 98, 6, 87, 989, 5, 999, 88, 77, 66, 77, 88, 66, 67, 76, 78, 554, 54, 677, 554, 89]

In [406]:
arr.pop()

554

In [409]:
print(arr, end= "")

[89, 9, 19, 1, 3, 5, 7, 9, 10, 11, 14, 15, 17, 111, 22, 34, 34, 34, 543, 5, 6, 3, 65, 65, 76, 3, 6, 7, 98, 4, 67, 8, 5, 7, 8, 9, 5, 78, 98, 6, 87, 989, 5, 999, 88, 77, 66, 77, 88, 66, 67, 76, 78, 554, 54]

In [408]:
arr.pop()

677